<!doctype html>
<html lang="en">
<head>
    <meta charSet="utf-8" />
    <title>React Starter</title>
    <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
<div id="root"><%- html %></div>
<script src="/static/client.js"></script>
</body>
</html>