<!doctype html>
<html lang="en">
<head>
    <meta charSet="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
    <%- head %>
</head>
<body>
<div id="root"><%- body %></div>
<script src="/static/client.js"></script>
</body>
</html>