html, body, div#root {
  height: 100%;
}

div#root {
  overflow: auto;
}

a {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.app-container {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin: 20px 0;
  display: flex;
}

.left-container {
  float: left;
  flex: 1;
}

.top-container, .bottom-container {
  display: flex;
  margin: 10px 0;
}

.tabs-container,
.windows-container,
.nested-group-container,
.scroll-area-container {
  margin: 0 auto;
}

.tabs-container {
  width: 300px;
}

.windows-container {
  width: 360px;
  height: 435px;
}

.nested-group-container {
  width: 480px;
  height: 550px;
}

.scroll-area-container {
  width: 200px;
  height: 300px;
}

.state-tree-container {
  margin-top: 12px;
  padding-right: 3%;
  width: 220px;
}

.description {
  margin-bottom: 10px;
}