.nested.windows {
  height: 100%;
}

.nested .window {
  width: 320px;
  height: 240px;
  display: flex;
  flex-direction: column;
}

.nested .window .header {
  padding: 15px 10px;
  display: flex;
  background-color: #CCC;
}

.nested .window .page {
  padding-left: 50px;
  background-color: #DDD;
  height: 100%;
}

.nested .window.foods {
  top: 0;
  left: 10px;
}

.nested .window.notes {
  top: 80px;
  left: 95px;
  padding: 30px;
}

.header-item, .active-header-item {
  display: block;
  margin: auto;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
}

.active-header-item {
  background-color: #DDD;
}

.header-item:hover {
  text-decoration: underline;
}

.food-title {
  font-weight: bold;
}