.state-tree {
  height: 100%;
  line-height: 1.3em
}

.state-tree div {
  margin-left: 8px;
}

.state-tree .current-page {
  padding: 0 8px;
  border: thin solid #a1ff9d;
  border-radius: 4px;
}

.state-tree .current-page.container {
  background-color: #e2ffe8;
}

.state-tree .current-page.group {
  background-color: #a1ff9d;
}

.state-tree .current-page.disabled {
  background-color: #CCC;
  border: thin solid #AAA;
}

.state-tree .current-page.active.group {
  background-color: #9CF;
  border: thin solid #69F;
}