a {
  color: blue;
  text-decoration: underline;
}

.app-container {
  display: flex;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333;
  margin-top: 20px;
}

.tabs-container, .windows-container, .state-tree-container {
  margin: 0 auto;
}

.tabs-container {
  width: 320px;
}

.windows-container {
  width: 400px;
  height: 440px;
}

.state-tree-container {
  margin-top: 12px;
  padding-right: 12px;
  width: 160px;
}

.description {
  margin-bottom: 20px;
}