.windows {
  background-color: #DDD;
  border: 2px solid #AAA;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  position: relative;
}

.window {
  background-color: #F9F9F9;
  border: 3px solid #BBB;
  border-radius: 4px;
  width: 200px;
  height: 200px;
  position: absolute;
  padding: 20px;
  box-sizing: border-box;
}

.window1 {
  top: 130px;
  left: 80px;
}

.window2 {
  top: 210px;
  left: 160px;
}