<!doctype html>
<html>
<head>
    <title>React Isomorphic Server Side Rendering Example</title>
</head>
<body>

<div id="root">
    <%- reactOutput %>
</div>

<!-- comment out to see server side only rendering -->
<script src="/index.js"></script>

</body>
</html>