.state-tree {
  height: 100%;
  line-height: 1.3em
}

.state-tree div {
  margin-left: 8px;
}

.state-tree .current-page {
  padding: 0 8px;
  border-radius: 4px;
}

.state-tree .current-page.container {
  background-color: #DFD;
  border: thin solid #AFA;
  color: #060;
}

.state-tree .current-page.group {
  background-color: #AFA;
  border: thin solid #7F7;
  color: #060;
}

.state-tree .current-page.disabled {
  opacity: 0.333;
}

.state-tree .current-page.active.group {
  background-color: #9CF;
  border: thin solid #7AF;
  color: #006;
}

.group-label {
  font-weight: 600;
}

.container-label {
  font-weight: 600;
}