.windows {
  background-color: #DFDFDF;
  border: 2px solid #A9A9A9;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  padding: 1px 25px;
  box-sizing: border-box;
}

.window-group {
  height: 250px;
  padding-top: 15px;
}

.window-menu {
  height: 40px;
  display: flex;
  padding: 0 20px;
}

.window-menu button {
  margin: 10px auto;
}

.window {
  background-color: #FFF;
  border: 3px solid #BBB;
  border-radius: 4px;
  box-sizing: border-box;
}

.windows .window {
  width: 200px;
  height: 175px;
}

.window .toolbar {
  height: 24px;
  padding: 4px;
  box-sizing: border-box;
  background-color: #CCC;
  position: relative;
  display: flex;
  cursor: move;
}

.window .toolbar .title {
  margin-left: 4px;
  color: #444;
}

.window .toolbar .close-btn {
  position: absolute;
  right: 6px;
  color: #777;
  cursor: pointer;
}

.window .toolbar .close-btn:hover {
  color: #C00;
}

.window .toolbar .close-btn:active {
  color: #F00;
}

.window .page {
  padding: 20px;
  box-sizing: border-box;
}

.top.container {
  border: 1px solid #a1ff9d;
}